.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: calc(100vh - 72px);

    &__scroll{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        opacity: 0.15;

        position: relative;
        top: calc((75vh - 72px) / 2) ;
        width: 100%;
        
        p{
            color: #FFF;

            text-align: center;
            font-family: "Geist", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;

        }
    }
}