.courseItem {
  width: 307px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);

  p {
    color: var(--common-white);
    font-family: GeistMedium;
    font-size: 48px;
    opacity: 0.7;
  }
}
