.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 211px;


  &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-bottom: 160px;

      h2 {
          color: #FCFCFC;
          text-align: center;
          font-family: "Geist", sans-serif;
          font-size: 52px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
      }

      button {
          cursor: pointer;

          padding: 10px 26px;
          margin: 44px 0 24px 0;
          border-radius: 999px;
          border: 1px solid #222631;
          background: linear-gradient(252deg, #08090E 51.73%, #424B74 159.99%);
          transition: all 0.5s;

          a {
              text-decoration: none;
              color: #AEB0B1;
              font-family: "Geist", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
          }

      }

      button:hover {
          border: 1px solid #2C313E;
          background: linear-gradient(252deg, #08090E 11.71%, #424B74 159.84%);
          transition: all 0.5s;

      }

      &__vector {
          position: absolute;
          z-index: -1;
          stroke-width: 30px;
          stroke: #007DD7;
          filter: blur(250px);
      }
  
      p {
          opacity: 0.8;
  
          color: #C1C2D9;
          text-align: center;
          font-family: "Geist", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
      }

  }

&__materials {
  display: grid;
  grid-template-columns: 470px 470px;
  gap: 20px;

  &__frame {
      
      &__vector {
          position: absolute;
          z-index: -1;
          top: 1255px;
          left: 230px;
          stroke-width: 30px;
          stroke: #007DD7;
          filter: blur(250px);
      }
  }

  &__text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h3 {
          font-family: "Geist", sans-serif;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
      }

      p {
          opacity: 0.6;

          color: #FFF;
          font-family: "Geist", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
      }
  }
}
}